
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;

}

.leftscroll{
    width: 80vw;
}
.navbar{
    /* background-color: rgb(0, 73, 137); */
    color: white;
    height: 80px;
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: right;
    align-items: center;
    padding: 0px 0px;
    font-size: 16px;
    width: 80%;
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.navbar a{
    text-decoration: none;
    color: white;
    padding: 6px 16px;
}

.navbar a.active{
    text-decoration: none;
    background-color: white;
    border-radius: 2rem;
    color: rgb(0, 73, 137);
}

.navbar a:hover{
    border-radius: 2rem;
    background-color: white;
    color: rgb(0, 73, 137);
    cursor: pointer;
}

.banner{
    width: 100%;
    background-color: blueviolet;
    border: 20px red;
    height: 80vh;
    display: flex;
    /* position: absolute; */
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    background-image: url(\image1.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.banner h1{
    font-size: 64px;
    color: white;
}

.aside{
    display: flex;
    flex-direction: column;
    align-content:center;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    width: 20%  ;
    box-shadow: #03030363 -4px 0px 20px;
    background-color: rgb(241, 241, 241);
    color: rgb(125, 125, 125);
    position: fixed;
    right: 0px;
    top: 0px;
    /* border-radius: 30px 30px 30px 30px; */
}

.container {
    background: white;
    padding: 20px;
    /* width: 100%; */
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 100%;
}

.callback-btn {
    background: rgb(0, 73, 137);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

h2 {
    margin: 20px 0;
    font-size: 22px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

form input{
    width: 91.5%;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.mobile-input {
    display: flex;
    gap: 5px;
}

.mobile-input select {
    width: 30%;
    font-size: 14px;
}

.mobile-input input {
    width: 70%;
}

.checkbox-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 15px;
    font-size: 12px;
}

.checkbox-container input {
    margin-top: 5px;
}

.checkbox-container a {
    color: blue;
    text-decoration: none;
}

.register-btn {
    background: rgb(0, 73, 137);
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}
.register-btn-wsp{
    background: rgb(9, 155, 19);
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.register-btn:hover, .callback-btn:hover {
    background: #704a2a;
}

.info{
    color: rgb(122, 122, 122);
    /* border: 2px solid red; */
    border-radius: 10px;
    box-shadow: black 2px 2px 2px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    top: 150px;
    left: 100px;
    width: 20vw;
    height: 60%;
}



/*hero card ======================================================= */


.card {
    position: absolute;
    top: 125px;
    left: 100px;
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.card h2 {
    color: #333;
    margin-bottom: 10px;
}
.subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}
.details{
    background-color: #bdbdbd;
    color: rgb(86, 86, 86);
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
}

.details a{
    text-align: center;
    padding: 2px;
    display: flex;
    flex-direction: column;
}

.highlight {
    background: rgb(0, 73, 137);
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 14px;
}
.price {
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 73, 137);
    color: white;;
    margin: 10px 0;
}
.button {
    background: rgb(0, 73, 137);
    color: white;;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}
/* Section 2------------------------------------------------- */
.section2, .section5 {
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.section2, .section5, p{
    font-size: 16px;
    line-height: 1.8;
    text-align:justify;
}



/* Section 3 ------------------------------------------- */

.section3{
    padding: 100px 100px;
    box-sizing: border-box;
    background-color: rgb(232, 244, 255);
    height: 768px;
    width: 100%;
    
}

.box1{
    width: 100%;
    /* background-color: rgb(172, 172, 172); */
    display:flex;
    /* flex-direction: row; */
    justify-content:space-between;
    flex-wrap: wrap;
    height: 100%;
    /* padding: 20px; */
    /* gap: 10%; */
    border-radius: 40px;
    box-sizing: border-box;
    
    

}

.content1{
    width: 49.1%;
    height: 50%;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(195, 76, 76, 0.1);
    border: 1px solid rgb(204, 204, 204);
    /* box-shadow: rgb(159, 159, 159) 2px 2px 2px; */
    margin: 4px;
    justify-content: space-around;
    text-align: center;
    justify-content: center;
    
}

.content1 img{
    width: 100%;
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
   
}

/* Section 4 ------------------------------------------ */

.section4{
    width: 100%;
    height: 100vh;
    /* background-color: #bdbdbd; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 60px 0px;
}

.section4 h1{
    padding: 20px;
}

.section4 div a{
    padding: 0px 6px;
    font-weight: 500;
    text-decoration: none;
    color: #333;
}

.boxbhk{
    width: 80%;
    height: 80%;
    background-color: rgb(245, 245, 245);
    align-self: center;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    align-content: center;
}

.boxbhk img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.section5 {
    background-color:rgb(232, 244, 255) ;
}

.section5 ul li{
    background-color: #666;
}

.section5 h3{
    padding-top: 60px;
    padding-bottom: 20px;
}
.item-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 0px;
    box-sizing: border-box;
    gap: 20px;
    /* background-color: #666; */
    width: 100%;
    text-align: left;
}

.item1{
    padding-left: 40px;
}

/* section 6---------------------------------------------- */

.section6{
    /* background-color: #666; */
    padding: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}

.video-sec{
    display: flex;
    width:100%;
    /* background-color: #966969; */
    gap: 20px;
    padding: 10px 0px;
}

.video{
    border-radius: 20px;
    /* margin: 10px; */
    background-color: aliceblue;
    width: 60%;
    height: 40vh;
    overflow: hidden;
    box-shadow: grey 5px 5px 10px;
}

.video video{
    object-fit:fill;
}

.video-des{
    border-radius: 20px;
    /* margin: 10px; */
    background-color: aliceblue;
    width: 40%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(222, 222, 222);
}

.slider{
    width: 100%;
    height: 170px;
    background-color: #704a2a;
    position: relative;
}

.row{
    width: 100%;
    /* background-color: #666; */
    display: flex;
    justify-content:space-between;
    position: absolute;
}

.coloum{
    /* float: left; */
    width: 33%;
    /* padding: 10px; */
    /* margin: 5px; */
    /* background-color: #966969; */
    box-sizing: border-box;
    border-radius: 20px;
    /* overflow: hidden; */
}

/* .coloum:hover{
    filter: grayscale(1);
    scale: 1.1;
    box-shadow: grey 0px 0px 10px;
} */

.btn{
    text-align: center;
}

.btn button{
    padding: 6px 10px;
    margin-top: 10px;
    font-size: 14px;
}